<div *ngIf="!noTime">
  <ion-header>
    <ion-toolbar class="header">
      <ion-buttons slot="start">
        <ion-menu-button autoHide="false"></ion-menu-button>
      </ion-buttons>
      <img class="logo" src="../../assets/logo.jpg" />
    </ion-toolbar>
  </ion-header>

  <ion-content class="background">
    <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large"> ZimTrivia </ion-title>
      </ion-toolbar>
    </ion-header>

    <div class="list-ul gradient-border">
      <div *ngIf="!loading && timerStarted">
        <ion-list>
          <div
            *ngFor="let item of records; let i = index;trackBy: tracked"
            lines="none"
            class="ion-text-center list-items"
            (click)="addScore(); whenClicked[i]=!whenClicked[i];"
            [style.background-color]="whenClicked[i]  ? 'green' : 'white'"
            [style.color]="whenClicked[i]  ? 'white' : 'black'"
          >
            {{item.answer}}
          </div>
        </ion-list>
      </div>
    </div>
    <br />
    <p class="tap" *ngIf="!loading && timerStarted">Tap on answer if correct</p>
    <div class="points" *ngIf="!loading && timerStarted">Points: {{score}}</div>

    <ion-row class="align-items-center timer">
      <div class="progress-circle">
      <div x="50%" y="55%" class="timer-text" [class.redtimer]="timeup">
        {{ time | async }}
      </div>
    </div>
      <!-- <svg
        id="progress-circle"
        width="30vh"
        height="10vh"
        viewBox="0 0 200 200"
      >
        <linearGradient
          id="linearColors1"
          x1="0"
          y1="0"
          x2="1"
          y2="1"
        ></linearGradient>
        <circle
          cx="50%"
          cy="50%"
          [attr.r]="circleR"
          fill="none"
          stroke-width="12"
        />

        <circle
          cx="50%"
          cy="50%"
          [attr.r]="circleR"
          fill="none"
          stroke="url(#linearColors1)"
          stroke-width="12"
          stroke-linecap="round"
          [attr.stroke-dasharray]="circleDasharray"
          [attr.stroke-dashoffset]="percentageOffset(percent | async)"
        />
        <text x="50%" y="55%" class="timer-text" [class.redtimer]="timeup">
          {{ time | async }}
        </text>
      </svg> -->
    </ion-row>

    <h2 *ngIf="!!loading && !timerStarted" class="ion-text-center">
      {{message}}
    </h2>
    <ion-button
      *ngIf="!loading && !timerStarted"
      expand="block"
      color="success"
      class="btn-teal"
      (click)="startTimer(startDuration)"
      >START</ion-button
    >

    <ion-button
      *ngIf="noCards == true"
      expand="block"
      color="success"
      (click)="refreshGame()"
      >start a new game</ion-button
    >
  </ion-content>

  <ion-footer> </ion-footer>
</div>

<ion-app class="timeupsection" *ngIf="noTime">
  <ion-header>
    <ion-toolbar class="header">
      <ion-buttons slot="start">
        <ion-menu-button autoHide="false"></ion-menu-button>
      </ion-buttons>
      <img class="logo" src="../../assets/logo.jpg" />
    </ion-toolbar>
  </ion-header>

  <ion-content class="background">
    <div id="loader">
      <div id="top"></div>
      <div id="bottom"></div>
      <div id="line"></div>
    </div>
    <br />
    <br />

    <div class="heading">
      <div class="ion-text-center center">
        <h1>Time up!</h1>
        <div class="points">Points earned: {{score}}</div>
      </div>
    </div>
  </ion-content>
  <ion-footer>
    <ion-button expand="block" color="success" [routerLink]="['/play']">PLAY</ion-button>
  </ion-footer>
</ion-app>
