<ion-header>
  <ion-toolbar class="header">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <!-- <ion-title class="ion-text-center light-text header-title">TRIVIA</ion-title> -->
    <img class="logo" src="../../assets/logo.jpg" />
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <h1><b>RULES</b></h1>
  <p>How well do you know your Zimbabwean lingo? Introducing a game that will test you in the most fun way possible! Perfect for a Games Night with family and friends,
    ZIM TRIVIA contains words that will get you all nostalgic and excited about Zimbabwe and everything that we enjoy talking about!</p>

    <ul>
      <li>The goal is for your team to be the first to reach the FINISH square.</li>
      <li>Each team member takes turns to describe the words on the card, without saying the actual word (in any language).  Team members have only 35 seconds to do this!</li>
      <li>Teammates must correctly guess the words for their token to move squares.</li>
      <li>Teams must pay attention to the SWITCH instruction on box 15 and 25 to turn your cards over and play using the different coloured cards until another instruction to switch is issued.
        The team that is last to reach the instruction box must do the acts indicated on the box e.g. Name 5 Zim Ministers</li>
    </ul>

    <h2>Describing the words</h2>
    <p>The Describer must not: </p>

    <ul>
      <li>Say the exact names on the card</li>
      <li>Point to anything</li>
      <li>Use translations or a different language</li>
      <li>Look at the words before the timer has been turned on.</li>
    </ul>

    <p>In the event of any violations, the team’s token needs to be moved back one square.</p>

    <p>HAVE FUN!</p>

</ion-content>

<ion-footer>
  <ion-button expand="block" color="success" [routerLink]="['/home']">PLAY</ion-button>
</ion-footer>